.sidebar{
    width:250px;
    min-height:100vh;
    background:#ffffff;
    border-right:1px solid #ECECEC;
    display:flex;
    flex-direction:column;
    padding:30px 22px;
}

/* Logo */

.sidebar-logo{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:50px;
}

.logo-icon{
    font-size:28px;
    color:#1E293B;
}

.sidebar-logo h2{
    font-size:24px;
    color:#1F2937;
    font-weight:700;
}

/* Menu */

.sidebar-menu{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:0;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px 16px;
    border-radius:12px;
    text-decoration:none;
    color:#1E293B;
    font-size:16px;
    transition:0.3s;
}

.menu-item svg{
    font-size:18px;
}

.menu-item:hover{
    background:#F3F4F6;
}

.menu-item.active{
    background:#F3F4F6;
    color:#1E293B;
    font-weight:600;
}

/* Logout */

.logout{
    margin-top:auto;
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-top:1px solid #ECECEC;
    cursor:pointer;
    color:#64748B;
    font-size:16px;
}

.logout:hover{
    color:#DC2626;
}